.navbar .links :hover{
color: rgb(214, 24, 167);
font-size: 25px;
}
.links li {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  background-color: rgb(255, 117, 202);
  width: 250px;
  height: 15px;
  border-radius: 10px;
  
}

li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}